[hr][/hr]		
[align=right][b][i]_B_IMDB_rates_E_/10[/i][/b] - [img]https://keromovies.com/img/imdb.png[/img][/align]
[float=left][attachment=0]_B_IMDB_ID_E_.jpg[/attachment][/float]
[size=140][color=#2874A6][b]_B_name_in_portuguese_E_[/b][/color][/size]
[size=110][color=#777777][i]"_B_original_name_E_" - _B_year_E_[/i][/color][/size][b][i]Gênero:[/i][/b]_B_genre_E_[b][i]Criador:[/i][/b]_B_realizador_E_[b][i]Elenco:[/i][/b]_B_cast_E_[hr][/hr][quote][size=110][b][i]Descrição:[/i][/b]_B_description_E_[/size][/quote][hr][/hr][align=center][hidden]		
[url=_B_streamango_movie_url_E_?c1_file=_B_c1_file_E_&c1_label=_B_c1_label_E_][img]https://keromovies.com/img/stream.png[/img][/url][url=_B_openload_movie_url_E_?c1_file=_B_c1_file_E_&c1_label=_B_c1_label_E_][img]https://keromovies.com/img/open.png[/img][/url]		
[/hidden][/align]
[hr][/hr]